@define-color theme_fg_color #ddd;
@define-color theme_bg_color #404050;
@define-color theme_selected_bg_color #406080;
@define-color theme_base_color @theme_bg_color;
@define-color text_entry_fg_color #222;
@define-color edge_color #303040;
@define-color half_color #383848;
@define-color label_color @theme_fg_color;
@define-color tooltip_label_color #fff;
@define-color focus_color #2080c0;

*
{
	/*background: @theme_bg_color;*/
}

*:focus
{
	outline-color: alpha(currentColor,0.5);
	outline-style: dotted;
	outline-offset: -1px;
	outline-width: 1px;
	-gtk-outline-radius: 2px;
}

.background
{
	color: @theme_fg_color;
	background-color: @theme_bg_color;
}

window
{
	background: @theme_bg_color;
	color: @theme_fg_color;
}

dialog
{
	background: @theme_bg_color;
	color: @theme_fg_color;
	border: none;
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.1)
}

dialog decoration
{
	background: none;
	border: none;
	border-radius: 7px 7px 0px 0px;
	border-top-style: none;
	outline: none;
	box-shadow: 0px 0px 0px 1px @edge_color, 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

dialog headerbar
{
	background: @theme_bg_color;
	color: @theme_fg_color;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid @edge_color;
	border-top: 1px solid @edge_color;
	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
	border-radius: 7px 7px 0px 0px;
}

scrolledwindow overshoot
{
	background: none;
}

scrolledwindow undershoot
{
	background: none;
	border: none;
}

/* The sidebar in Open/Save dialogs */
.sidebar
{
	background: @half_color;
	border: 0px transparent;
	border-right: 1px solid @edge_color;
	color: @theme_fg_color;
}

/* This does the background to the list view */
.view
{
	background: @theme_bg_color;
}

/* This currently does the background to the Active Cues thingy */
paned
{
	background: @theme_bg_color;
	border: 0px transparent;
}

paned child
{
	background: #f00;
	border: 1px solid #0f0;
}

/* This seems to do something to the vertical separator */
paned separator
{
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0);
	background-image: image(@edge_color);
	background-size: 1px 1px;
	background-position: top left;
	background-clip: border-box;
}

paned.vertical > separator
{
	background-repeat: repeat-x;
}

paned.horizontal > separator
{
	background-repeat: repeat-y;
}

/* All buttons */
button
{
	color: @theme_fg_color;
	background: -gtk-gradient(linear, left top, left bottom, from(@theme_bg_color), to (@half_color));
	border: 1px solid @edge_color;
	border-radius: 3px;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	min-height: 1.4em;
	text-shadow: none;
	padding: 4px;
}

dialog headerbar button
{
	min-height: 26px;
}

/* GtkColorButton buttons */
button.color
{
	min-height: 1.4em;
}

/* Color swatches (including those in button.color) */
colorswatch
{
	border: none;
	outline: none;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
}

colorswatch overlay:hover
{
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
	outline: none;
	border: none;
}

/* Color swatches that are just inside buttons */
button.color colorswatch
{
        border: 1px solid @edge_color;
	outline: none;
	box-shadow: none;
	min-width: 0px;
}

/* The toolbar */
toolbar
{
	padding: 1px;
	background: @theme_bg_color;
}

/* Toolbar buttons (see also 'button') */
toolbar button
{
	padding: 3px;
	border-radius: 2px;
	background: none;
	border: 1px solid rgba(0,0,0,0);
	box-shadow: none;
}

toolbar button:hover
{
	border: 1px solid @edge_color;
	-gtk-icon-shadow: none;
	-gtk-icon-effect: highlight;
}

toolbar separator
{
	background: @edge_color;
	margin: 3px;
}

listbox
{
	background: @theme_bg_color;
	color: @theme_fg_color;
}

/* The list area of the TreeView */
treeview.view
{
	background: @theme_bg_color;
	border-color: @edge_color;
	border-width: 0px;
	border-style: solid;
	border-right-width: 1px;
	color: @theme_fg_color;
}

treeview.view.trough, treeview.view.trough:selected
{
	border: none
}

/* The selected row */
treeview.view:selected
{
	background: @theme_selected_bg_color;
	border-right: 1px solid @edge_color;
}

/* The header of the TreeView */
treeview.view header
{
}

/* Each button on the header of the TreeView */
treeview.view header button
{
	border: none;
	border-right: 1px solid @edge_color;
	border-bottom: 1px solid @edge_color;
	color: @label_color;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	border-radius: 0px;
	padding: 4px 6px;
}

treeview.view header button:last-child:backdrop, treeview.view header button:last-child
{
	border-right-style: none;
}

/* Stack Specific TreeView Progress Bars */
treeview.view.progressbar
{
	color: @theme_fg_color;
	border-radius: 3px;
	border: 1px solid @edge_color;
	background: -gtk-gradient(linear, left top, left bottom, from (#008000), to (#006000));
}

treeview.view.progressbar:selected
{
	color: @theme_fg_color;
}

treeview.view.progressbar:selected:backdrop
{
	color: @theme_fg_color;
	background-image: none;
	background-color: @theme_bg_color;
}

treeview.view.progressbar:backdrop
{
	color: @theme_fg_color;
	background-image: none;
}

menu
{
	padding: 0px;
	background: @theme_bg_color;
}

menu menuitem:hover
{
	box-shadow: none;
}

/* This is the outline of a menu */
menuitem window decoration
{
	border: none;
	outline: none;
	box-shadow: 0px 0px 0px 1px @edge_color, 3px 3px 3px 0px rgba(0,0,0,0.2);
}

menu separator
{
	background: @edge_color;
	padding: 0px;
}

menubar
{
	padding: 0px;
	background: @theme_bg_color;
	border: 0px solid;
	border-bottom: 1px solid @edge_color;
}

menuitem
{
	padding: 4px 8px 4px 8px;
}

menuitem, menuitem label, menuitem label accelerator
{
	color: @theme_fg_color;
}

menuitem:hover
{
	background: @theme_selected_bg_color;
}

label
{
	color: @theme_fg_color;
}

entry
{
	background: -gtk-gradient(linear, left top, left bottom, from(#ddd), to (#fff));
	border: 1px solid @edge_color;
	border-radius: 3px;
	color: @text_entry_fg_color;
	padding: 0px 6px;
	min-height: 2.0em;
	caret-color: @text_entry_fg_color;
}

entry:focus
{
	box-shadow: inset 0px 0px 3px 1px @focus_color;
}

check, radio
{
	margin: 4px 4px;
	min-height: 14px;
	min-width: 14px;
	border: 1px solid @edge_color;
	-gtk-icon-source: none;
	color: #eeeeec;
	outline-color: rgba(255, 255, 255, 0.3);
	text-shadow: 0 -1px rgba(0, 0, 0, 0.827451);
	-gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.827451);
	background: @theme_bg_color;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0px -2px 2px 0px @half_color;
}

radio
{
	border-radius: 100%;
}

check:hover, radio:hover {
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.05), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.2);
}

check:active, radio:active { color: #eeeeec; outline-color: rgba(238, 238, 236, 0.3); border-color: #1b1f20; background-image: image(#25292b); box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; }

check:checked
{
	background-color: #307040;
}

radio:checked
{
	background-color: #307040;
	box-shadow: inset 0px 0px 0px 3px @theme_bg_color, inset 0 1px rgba(255, 255, 255, 0.05), inset 0px -2px 2px 0px @half_color;
}

radio:checked:hover
{
	box-shadow: inset 0px 0px 0px 3px @theme_bg_color, inset 0 1px rgba(255, 255, 255, 0.05), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.2);
}

scrolledwindow
{
	border-style: solid;
	border-color: @edge_color;
	border-width: 1px 0px 1px 0px;
}

textview
{
	border: none;
	border-radius: 3px;
	-gtk-outline-radius: 3px;
	outline-color: @edge_color;
}

textview.view
{
	background: -gtk-gradient(linear, left top, left bottom, from(#ddd), to (#fff));
	border: none;
}

textview.view:focus
{
	box-shadow: inset 0px 0px 3px 1px @focus_color;
}

textview.view text
{
	background: transparent;
	color: @text_entry_fg_color;
	border-radius: 3px;
	caret-color: @text_entry_fg_color;
}

notebook
{
	border: 0px transparent;
}

notebook header.top
{
	padding: 0px;
	background: @half_color;
	border: 0px transparent;
	border-bottom: 1px solid @edge_color;
	min-height: 2.3em;
}

notebook header.top tabs
{
	margin: 0px;
	padding: 0px;
	border: none;
	background: none;
}

notebook header.top tabs tab
{
	margin: 0px;
	padding: 0px 8px;
	border: 0px transparent;
	background: none;
}

notebook header.top tabs tab label
{
	background: transparent;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	color: #888;
}

notebook header.top tabs tab:hover
{
	box-shadow: none;
}

notebook header.top tabs tab:hover label
{
	color: #bbb;
}

/* :checked is the currently active tab */
notebook header.top tabs tab:checked
{
	box-shadow: inset 0 -2px @theme_selected_bg_color;
}

notebook header.top tabs tab:checked label
{
	color: @theme_fg_color;
}

/* The background of the notebooks */
notebook stack
{
	background: @theme_bg_color;
}

tooltip, tooltip.background
{
	background: rgba(32, 32, 32, 0.95);
}

tooltip, tooltip *
{
	padding: 0px;
	margin: 0px;
}

tooltip
{
	border-radius: 4px;
	border: 1px solid @edge_color;
}

tooltip label
{
	color: @tooltip_label_color;
}

scale marks mark label
{
	padding-left: 4px;
	font-size: 75%
}
